<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="icon/iview.css">
    <link rel="stylesheet" href="css/course.css">
    <script src="js/iview.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/course.js"></script>
    <title>所有课程-谦学网</title>
</head>
<body>
<div id="root">
    <div class="header">
        <div class="const">
            <div class="head-left">
                <div class="title">
                    <h2>{{learndata.head.title}}</h2>
                    <a href="javascript:void(0)">{{learndata.head.url}}</a>
                </div>
                <div class="nav">
                    <div class="nav-list" v-for="topic in learndata.head.topic">
                        <a href="javascript:void(0)">{{topic.top}}</a>
                    </div>
                </div>
            </div>
            <div class="head-right">
                <div class="head-login">
                    <div class="login-list">
                        <a href="javascript:void(0)">登录</a>
                    </div>
                    <div class="login-list">
                        <a href="javascript:void(0)">注册</a>
                    </div>
                </div>
                <form class="search-form" action="">
                    <div class="search">
                        <input class="search-int" autocomplete="off" placeholder="输入要查找的内容" type="text">
                        <div class="search-btn">
                            <i class="search-icon fa fa-search"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="tab-head">
            <li  v-for="(course,index) in coursedata.coursetype" :class="{act:index===0}"><a href="javascript:void(0)">{{course.title}}</a></li>
        </ul>
        <div class="content">
            <div class="contentleft">
                <ul class="tab-menu">
                    <li v-for="(course,index) in coursedata.menu" ><a :class="{act:index===0}" href="javascript:void(0)">{{course}}</a></li>
                </ul>
                <div class="courselist">
                    <div class="courseitem" v-for="(card,index) in coursedata.coursecard">
                        <div class="courseimg">
                            <a href="javascript:void(0)">
                                <img :src="card.imgurl" alt="">
                            </a>
                        </div>
                        <div class="courseinfo">
                            <h4>{{card.title}}</h4>
                            <div class="metas">
                                <span>{{card.tatal}}学员 / </span>
                                <span>{{card.score}}评分</span>
                            </div>
                            <div class="teacher">
                                <a href="javascript:void(0)">{{card.teacher}}</a>
                                <span class="price">{{card.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentright">
                <h3>强烈推荐</h3>
                <ul class="course">
                    <li class="courseitem item" v-for="(card,index) in coursedata.recommend">
                        <div class="courseimg">
                            <a href="javascript:void(0)">
                                <img :src="card.imgurl" alt="">
                            </a>
                            <div class="tag">
                                <span>推荐</span>
                            </div>
                        </div>
                        <div class="courseinfo">
                            <h4>{{card.title}}</h4>
                            <div class="teacher">
                                <a href="javascript:void(0)">{{card.teacher}}</a>
                                <span class="price">{{card.price}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
        </div>
    </div>
</div>
</body>
</html>